<section class="container">
  <h3 class="gallery-name">{{title}}</h3>
  <h4>By: {{user_id}}</h4>
  <p class="border-bottom">{{body}}</p>
  <section class="flex-col justify-center">
    <h4>Comments</h4>
    {{#each comments as |comment|}}
    <div class="border border-3 border-primary">
      <h5>{{comment.user_id}}</h5>
      <p>{{comment.body}}</p>
    </div>
    {{/each}}
  </section>
</section>